<!doctype html>
<html lang="{{ site.lang | post: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    {% include head-custom.html %}
  </head>
  <body>
      <div id="header">
        <nav>
          <ul>
            <li class="fork">Cristian's Dev Blog</li>
            <li class="title"><a href="{{ '/about/' | relative_url }}">About</a></li>
            <li class="title"><a href="{{ '/' | relative_url }}">Home</a></li>
            
          </ul>
        </nav>
      </div><!-- end header -->

    <div class="wrapper">

      <section>
        <h1 class="page-title">{{ page.title | default: site.github.repository_name }}</h1>
        {{ content }}
        <div id="title">
        <hr>
        <span class="credits left">Project maintained by <a href="{{ site.github.owner_url }}">Cristian Páez</a></span>
        <span class="credits right">Hosted on GitHub Pages &mdash; Using the <a href="https://github.com/pages-themes/midnight">Midnight Theme</a></span>
        </div>
    </section>

    </div>
  </body>
</html>